<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PROJECT NAME</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if categories %}
          {% for category in categories %}
            <li class=""><a class="nav-link" href="{% url 'app_name:category' category.slug %}">{{ category.name|capfirst }}</a></li>
          {% endfor %}
        {% else %}
          <li class=""><a class="nav-link" href="#home" onclick="window.location.reload(true);">Home</a></li>
          <li class=""><a class="nav-link" href="#about" onclick="window.location.reload(true);">About</a></li>
          <li class=""><a class="nav-link" href="#contact" onclick="window.location.reload(true);">Contact</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
