<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="{% static 'pencil_icon.ico' %}">

      <title>{% block title %}PROJECT NAME{% endblock title %}</title>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

      <!-- PROJECT NAME stylesheet -->
      <link href="{% static 'project_name/style.css' %}" rel="stylesheet">

      {% comment %}<!-- APP NAME stylesheet -->
      <link href="{% static 'app_name/style.css' %}" rel="stylesheet">{% endcomment %}

      <!-- Extra styling per template -->
      {% block style %}
      {% endblock style %}

    {% endblock head %}
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">PROJECT NAME</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if categories %}
              {% for category in categories %}
                <li class=""><a class="nav-link" href="{% url 'app_name:category' category.slug %}">{{ category.name|capfirst }}</a></li>
              {% endfor %}
            {% else %}
              <li class=""><a class="nav-link" href="#home">Home</a></li>
              <li class=""><a class="nav-link" href="#about">About</a></li>
              <li class=""><a class="nav-link" href="#contact">Contact</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      {% block content %}
        <div class="jumbotron">
          <p>No content provided to the base layout.</p>
        </div>
      {% endblock content %}

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- Set active nav element based on url path -->
    <script src="{% static 'project_name/nav.js' %}"></script>

    <!-- PROJECT NAME JavaScript -->
    <script src="{% static 'project_name/script.js' %}"></script>

    {% comment %}<!-- APP NAME JavaScript -->
    <script src="{% static 'app_name/script.js' %}"></script>{% endcomment %}

    <!-- Extra JavaScript per template -->
    {% block script %}
    {% endblock script %}

  </body>
</html>
